<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>We cant seem to process your request at this moment.</h1>
    <p>Possible reasons:</p>
    <p>Our API calls to an external server are currently on hold or being rate-limited.</p>
    <p>An invalid link or endpoint has been entered.</p>
    <a th:href="@{/}">Click here to go back to main page</a>
    
</body>
</html>