<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- <button class = "btn btn-primary">
        <a th:href="@{/persons/create}">Create</a>
    </button> -->
    <div class = "container">
        <div class = "row">
            <h1>List of anime</h1>
        </div>
        <div class = "row">
        <form method="POST" th:action="@{/topanimebygenre/filter}">
            <label>Filter by category</label>
            <select name = "genre" >
                <option th:each="genre : ${animegenres}" th:text="${genre}" ></option>
            </select>
            <button type = "submit">Filter</button>
    
        </form>
        </div>
    <table class = "table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr th:if="${persons.size() == 0 }">
                <td colspan="9" class = "text-center">No record found</td>
            </tr> -->

            <!-- private Integer mal_id;
    //which image
    private String large_image_url;

    // youtube trailer omit first
    private String title;
    private String title_japanese;
    private String type;
    private Integer episodes;
    private String status;
    private String duration;
    private Double score;
    private Integer rank;
    private String synopsis;
    private Integer year;
    private List<String> producers;
    private List<String> studios;
    private List<String> genres; -->

            <tr th:each="anime : ${animelist}">
                <td th:text="${anime.mal_id}"></td>
                <td>
                    <a th:href="@{'/' + ${anime.mal_id}}" th:text="${anime.title}" ></a>
                </td>
                <td>
                     <img th:src="@{${anime.large_image_url}}">
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
</body>
</html>