<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Anime Finder</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/search">Search</a>
                    </li>
                    <li th:if="${verifieduser == null}" class="nav-item">
                        <a class="nav-link active" href="/register">Register</a>
                    </li>
                    <li th:if="${verifieduser == null}" class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                    </li>
                    <li th:if="${verifieduser != null}" class="nav-item">
                        <a class="nav-link active" href="/logout">logout</a>
                    </li>
                    <li th:if="${verifieduser != null}" class="nav-item">
                        <a class="nav-link active" th:href="@{'/watchlist/' + ${verifieduser.username}}">See my watchlist</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class = "container">
       
        
        <a th:href="@{/watchlist/recommend/{verifiedusername}(verifiedusername = ${verifieduser.username})}">Recommend Anime for me</a>
        <table class = "table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Image</th>
                    
                </tr>
            </thead>
            <tbody>
    
                <tr th:each="anime : ${watchlist}">
                    <td th:text="${anime.mal_id}"></td>
                    <td>
                        <a th:href="@{'/' + ${anime.mal_id}}" th:text="${anime.title}" ></a>
                    </td>
                    <td>
                         <img th:src="@{${anime.large_image_url}}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        
       
    
    
</body>
</html>